.report-outer {
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.report-inner {
  margin: 5vh 0;
  width: 90vw;
  margin: 0 5vw;
}

.report-all {
  width: 100%;
  justify-content: space-evenly;
}

.exercise-report-outer {
  background-color: #a7a1a1;
  box-shadow: 0px 15px 40px -16px #fb5353;
  border-radius: 30px;
  padding: 70px 50px;
  margin-top: 50px;
}

#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1em;
}
#svg #bar {
  stroke: #ff9f1e;
}
#cont {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  box-shadow: 0 0 1em black;
  border-radius: 100%;
  position: relative;
}
#cont:after {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 1em black;
  content: attr(data-pct) "%";
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
  text-shadow: 0 0 0.5em black;
}
.dash-main-report {
  position: fixed;
  background-color: #0a0a0a;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  background-position: center;
  background-size: cover;
}

.exercise-container {
  position: relative;
  object-fit: center;
}

.RightBar-report {
  color: black;
  height: max-content;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  width: 300px;
  margin-top: 81px;
}

.comp-exercise-info-all {
  color: black;
}

.dash-info-report {
  display: flex;
  color: white;
  width: 66%;
  padding: 30px;
  overflow-y: scroll;
}
.dash-grid-report {
  background: #faf8f4;
  display: flex;
  min-height: 40%;
  align-items: center;
  padding: 20px;
  width: 100%;
  justify-content: space-around;
  border-radius: 30px;
}
.info-progressbars {
  width: 100%;
  margin-top: 20px;
}
.info-progressbar {
  background-color: #ffeee2;
  border-radius: 30px;
  color: black;
  padding: 15px 32px;
}

.first-bar {
  background-color: rgb(251, 217, 223);
}

.second-bar {
  background-color: rgb(188, 247, 188);
}

.third-bar {
  background-color: rgb(192, 235, 252);
}
