.ec-outer{
    background-color: #0a0a0a;
    width: 100vw;
    height: 100vh;
    color: white;
}

.mediapipe-outer {
    width: 80vw;
}

.info-outer {
    margin: 20px 5px;
    width: 20vw;
    flex-direction: column;
}

.timer-outer {
    height: 10vh;
    width: 100%;
    background-color: yellowgreen;
    margin: 20px 0px;
}

.calory-counter {
    margin: 15px 5px;
}

.exercise-tabs-wrapper{
    margin-top: 20px;
}

.exercises-tab {
    margin: 15px 5px;
}
.exercise-tab{
    background-color: aqua;
    color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.exercise-tab:hover {
    background-color: black;
}

.exercise-tab:hover h3 {
    color: aqua;
}

.exercise-tab:active {
    background-color: black;
}

.exercise-tab:active h3{
    color: aqua;
}

.exercises-outer{
    width: 100%;
}