.ec-outer{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    color: white;
}

.mediapipe-outer {
    width: 75vw;
}

.info-outer {

    margin: 5% 5%;
    width: 25vw;
    flex-direction: column;
}

.counter-outer {
    height: 170px;
    flex-direction: row;
    background-color: black;
    border-radius: 30px;
    font-size: 42px;
    width: 320px;
    margin-bottom: 50px;
}

.timer-outer {
    width: 50%;
}

.reps-outer {
    width: 35%;
    flex-direction: column;
}

.separator {
    height: 75px;
    width: 2px;
    background-color: white;
}
.calory-counter {
    height: 110px;
        flex-direction: row;
        background-color: #1FEBF8;
        border-radius: 30px;
        font-size: 32px;
        color: black;
}
.guideMessege {
    width: 320px;
    height: max-content;
    padding: 20px;
    margin-top: 50px;
    background-color: rgb(251, 69, 69);
    font-size: 32px;
    font-weight: 600;
    border-radius: 20px;
}