.dash-main {
  position: fixed;
  background-color: #0a0a0a;
  width: 100%;
  height: 100%;
  padding: 30px 50px;
  display: flex;
  background-position: center;
  background-size: cover;
}

.greet-user {
  color: white;
  font-size: 40px;
  text-align: left;
  flex: 10%;
}

.dash-grid {
  background: black;
  display: flex;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  padding: 20px;
  border-radius: 30px;
  flex-direction: column;
}

.Exercise,
.meditation {
  width: 350px;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  position: relative;
  height: 270px;
  overflow: hidden;
  border: none;
  outline: none;
}

.info-con {
  position: absolute;
  z-index: 11;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  color: white;
}

.bg-vid {
  height: 270px;
  width: auto;
}

.Exercise {
  background: rgb(217, 249, 217);
  color: black;
}

.meditation {
  background: rgb(246, 208, 214);
  color: black;
}

.exercise-container {
  position: relative;
  object-fit: center;
  display: flex;
  justify-content: space-around;
}

.startg {
  background: transparent;
  color: white;
  font-weight: 600;
}

.RightBar {
  color: white;
  height: max-content;
  background-color: rgb(255, 255, 103);
  border-radius: 30px;
  padding: 20px;
  width: 300px;
}

.row-1-dash {
  width: 100%;
  height: max-content;
}

.chart {
  background: #0a0a0a;
  border-radius: 30px;
  padding: 20px;
  max-width: 550px;
  height: max-content;
}
.water-con {
  background: white;
  border-radius: 30px;
  padding-bottom: 20px;
  width: max-content;
}

.glass-btn {
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: #0a0a0a;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.add-weight p {
  font-size: 32px;
}

.add-weight input {
  font-size: 18px;
  background-color: black;
  width: 80%;
  margin: 10px;
  border: none;
  border-radius: 30px;
  padding: 10px;
}

.add-weight button {
  background: #3352e7;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
}

.report,
.articles-dash {
  width: 250px;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  position: relative;
  height: 190px;
  overflow: hidden;
  border: none;
  outline: none;
}

.goal-weight,
.cur-weight {
  height: 190px;
  padding: 20px;
  border-radius: 30px;
}

.goal-weight {
  background-color: #3352e7;
}

.cur-weight {
  background-color: #0a0a0a;
}
